@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? family = Bebas + Neue & display = swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    font-size: 62.5%;

    --color0: #C5EBD6;
    --color1: #83E1AD;
    --color2: #3DDC84;
    --color3: #2FA866;
    --color4: #1a5c37;
    --color5: #063d1e;

    --fonte-padrao: Arial Helvetica, sans-serif; 
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}


body{
    font-size: 1.6rem;
    background-color: var(--color0);
    font-family: var(--fonte-padrao);
    line-height: 2.0rem;
}

a.externo::after{
    content: '\1F517';
}

header {
    background:linear-gradient(var(--color2), var(--color4));
    height: 15rem;   
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6rem 0 0 0;
}

header > h1 {
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 4.8rem;
    font-weight: normal;
    text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.66);
    line-height: 4rem;
    padding: 1.5rem;
}

header > p {
    color: white;
    font-size: 1.9rem;
    max-width: 50rem;
    text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.66);
    padding: 0 1rem;
    margin: auto;
    padding-bottom: 5rem;
}

nav{
    background-color: var(--color4);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.50);
    
    display: flex;
    align-items: center;
    justify-content: center;
}

nav > a {
    text-decoration: none;
    color: var(--color0);
    border-radius: .3rem;
    padding: 1rem;
    font-weight: bold;
    transition-duration: .3s;
}

nav a:hover {
    background-color: var(--color3);
    color: var(--color5);
}

main{
    background-color: white;
    min-width: 30rem;
    max-width: 80rem;
    margin: 0 auto;
    margin-bottom: 3rem;
    box-shadow:1px 1px 10px rgba(0, 0, 0, 0.392);
    border-radius:0 0 1rem 1rem;
    padding: 2rem;
}

main h1 {
    color: var(--color5);
    font-family: var(--fonte-android);
    padding: .5rem;
    font-weight: normal;
    font-size: 2.88rem;
}

main h2 {
    background-color:var(--color0);
    color: var(--color3);
    font-family: var(--fonte-android);
    font-weight: normal;
}

main p {
    padding: .5rem;
}

main img {
    width: 100%;
}


main img.bugdroid {
    max-width: 35rem;
    margin: auto;
    display: block;
}

div.video {
    background-color: var(--color4);
    position: relative;
    height: 0;
    margin: 0 -2rem 1.5rem -2rem;
    padding-bottom: 59%;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--color0);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    box-shadow: .3rem .3rem .8rem rgba(0, 0, 0, 0.70);
}

aside > h3 {
    background-color: var(--color3);
    color: white;
    padding: 1rem;
    margin: -1rem -1rem 0 -1rem;
    border-radius: 1rem 1rem 0 0 ;
}

aside ul {
    list-style-type: '\2714\0020\0020';
    columns: 2;
    list-style-position: inside;
}

aside > p > a {
    text-decoration: none;
    color: black;
}

aside > p > a:hover {
    background-color: var(--color3);
    border-radius: 10rem;
    color: var(--color5);
    text-decoration: underline ;
}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: .5rem;
}

footer a {
    color: white;
    padding: 1.1rem;
    border-radius: 50%;
    text-decoration: none;
    font-weight: bolder;
}

footer a:hover {
    background-color:var(--cor4);
    color: var(--cor1);
}

